body {
  background-image: url("../image/tyler-clemmensen-DQ_KYf1LF6E-unsplash.jpg");
  background-size: cover;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

footer,
footer > a {
  text-decoration: none;
  color: white;
}

.footer {
  text-align: center;
}

.calculator {
  width: 30%;
  min-width: 25rem;
  padding: 1.2rem 1.5rem;
  margin: 5rem auto;
  background-color: black;
  border-radius: 2rem;
}

.display {
  margin: auto;
  width: 90%;
  height: 7.5rem;
  background-color: blue;
  border-radius: 2rem;
  color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.display div{
    font-size: 2rem;
    flex: 1 0 2.5rem;
}
.button-container {
  display: flex;
  margin: 0.5rem;
}

.number-container {
  flex: 10 0 auto;
  display: flex;
  flex-direction: column;
}

.operator-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.number-row {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
}

.number-row button {
  flex: 1;
}

.number-row #zero {
  flex: 2;
}

.operator-container {
  flex: 1;
}

.operator-container button {
  background-color: darkorange;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 10rem;
}

.operator-container button:hover {
  background-color: orange;
}
.operator-container button:active {
  background-color: lightcoral;
}

button {
  border-radius: 5rem;
  margin: 2px;
  border: 1px solid black;
  /* border-style: solid; */
  /* border: none; */
  background-color: #36454f;
  color: white;
  font-size: 3rem;
  padding: 0.1rem;
  /* font-weight: 900; */
}

button:hover {
  background-color: grey;
}

button:active {
  background-color: lightgray;
}

footer{
  width: 100%;
  position: fixed;
  bottom: 0;
}